@media (min-width: 1024px) and (max-width: 1280px) {
    .carts_container {
        display: grid;
        grid-template-columns: 0.5fr;
    }

    .carts_container .carts:nth-child(3) {
        width: 100%;
        grid-column: span 2;
    }

    .bg-margin {
        margin-right: 100px;
        margin-left: 100px;
    }

    .discount-container {
        display: flex;
        flex-flow: column;
    }

    .content-container1 {
        padding-left: 70px;
    }

    .content-container2 {
        padding-left: 30px;
    }
    .xlthik{
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 1281px) and (max-width: 1535px) {
    .discount-container {
        display: flex;
        flex-flow: column;
    }

    .content-container1 {
        padding-left: 100px;
    }

    .content-container2 {

        padding-left: 75px;
    }
}